@media screen and (max-width: 1400px) {
  html, body {
    width: 100%;
    height: 100px;
  }

  body {
    display: block;
  }

  .side-wrap {
    width: 100%;
    height: 100px;
    background: url('https://media.giphy.com/media/Sp7IpE95BqzOU/giphy.gif') no-repeat;
    background-size: cover;
  }

}
