@media screen and (max-width: 1300px) {
  .bottom-wrap {
    display: block;
    margin: 70px 60px 0 60px;
  }

  .left-wrap {
    width: 100%;
  }

  .play-video > div {
    height: 50vh;
  }

  .another-wrap {
    width: 98%;
  }

  .another-item > div {
      width: 70%;
  }
}
