html,
body {
    width: 100%;
}

body {
    display: flex;
    justify-content: flex-end;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent
}

.side-wrap {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 23%;
    height: 100%;
    background: url('https://media.giphy.com/media/Sp7IpE95BqzOU/giphy.gif') no-repeat;
    background-size: cover;
    background-position: 50% 0;
}

.side-cont {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.icon {
    margin-bottom: 35px;
}

.wrap {
    width: 77%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.particles-js-canvas-el {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.header {
  z-index: 1;
    width: 60%;
    height: 200px;
    padding: 40px;
    margin: 0 auto;
}

.header-item {
    width: 100%;
    margin: 20px;
}

hr {
    border: 0.0001rem solid #eee;
    border-bottom: 0px;
}

.container {
  z-index: 1;
    width: 100%;
    margin: 0 auto;
}

section {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images {
    /* margin: 0 auto; */
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.para {
    margin: 3px;
}

.last-para {
    margin-bottom: 50px;
}

.footer {
  z-index: 1;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 12px;
    font-size: 14px;
    text-align: center;
    color: #aaa;
}
