* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  width: 100%;
  height: auto;
}

body {
  background-color: #f6f9fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 40%;
  height: 900px;
  padding: 25px 0 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.paintBoard {
  width: 700px;
  height: 700px;
  border-radius: 25px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}


.weightScroll {}

.btnCollection {
  width: 130px;
  display: flex;
  justify-content: space-evenly;
}

.btnCollection > button {
  color: gray;
  text-transform: uppercase;
  width: 50px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btnCollection > button:active {
  transform: scale(0.95);
}

.colorCollection {
  width: auto;
  height: auto;
  display: flex;
}

.colorCollection > div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.colorCollection > div:active {
  transform: scale(0.95);
}
