* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background: rgba(53, 59, 72); */
    /* background: rgba(99, 110, 114, 0.5); */
    background: url('https://i.pinimg.com/originals/83/ea/d6/83ead6d874a749ebab256af2b7781878.png') no-repeat;
    background-size: 100% 100%;
}

.box {
    position: relative;
    left: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0px;
}

.login-box {
    z-index: 1;
}

.machine-box {
    position: relative;
    right: 330px;
    bottom: 10px;
    width: 366px;
    height: 366px;
}


.usertext {
    background: #5b7484;
    padding: 2em;
    width: 15rem;
    margin-bottom: 20px;
    border-radius: 2.5em;
    outline: none;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: .7s;
}

.usertext::placeholder {
    color: #f4d4d4;
}

.usertext:focus {
    transform: scale(1.3);
    background-color: #f4d4d4;
}

.usertext:focus::placeholder {
    color: #5b7484;
}

.login-btn {
    padding: 2em;
    width: 18.5rem;
    margin-bottom: 20px;
    border-radius: 2.5em;
    cursor: pointer;
    outline: none;
    background: #ffb8b8;
    color: #4a69bd;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.login-btn:hover {
    border-radius: 0px;
}

.etc-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 5px;
    top: 180px;
}

.etc-btn {
    margin: 20px;
    color: #57606f;
    font-size: 1.05em;
    text-decoration: none;
    transition: .4s;
}

.etc-btn:hover {
    color: #01a3a4;
}
