* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://i.pinimg.com/originals/53/76/ed/5376ed0ba13ea516274e975f79806932.png') no-repeat;
    background-size: 100% 100%;
}

.container {
    width: 30%;
    height: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7%;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86%;
}

.inform-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.usertext {
    outline: none;
    padding: 1rem;
    border-radius: 2rem;
    background: #85837b;
    color: #e7e6dc;
    transition: .5s;
}

.usertext::placeholder {
    color: #e7e6dc;
}

.usertext:focus::placeholder {
    color: rgb(195, 11, 7);
}

.date {
    padding: .85rem;
}

.join-btn {
    outline: none;
    padding: 1rem;
    border-radius: 2rem;
    background: rgb(232, 194, 191);
    color: rgb(72, 94, 108);
    cursor: pointer;
    transition: .5s;
}

.join-btn:hover {
    border-radius: .3rem;
    background: rgb(72, 94, 108);
    color: rgb(232, 194, 191);
}

.usertext:focus {
    border-radius: .3rem;
    background: #e1b12c;
}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7%;
}
