body {
  height: auto;
  background: #eee;
}

.back-btn {
  display: flex;
  margin: 10px;
  text-decoration: none;
  color: #000;
}

.back-btn:hover {
  cursor: pointer;
}

.btn-exp {
  font-size: 24px;
}


.wrap {
  width: 100%;
  height: auto;
}


.img-wrap {
  width: 90%;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 100px;
}

footer {
  visibility: hidden;
}

.img-item {
  width: 400px;
  height: auto;
  vertical-align: middle;
  margin: 0 10px;
  border-radius: 20px;
  box-shadow: 8px 8px 5px #999;
  transition: filter .5s;
}


.img-item:hover {
  filter: brightness(50%);
  cursor: zoom-in;
}
